## initial-exploration

This notebook is a quick initial EDA of the Google Images V4 dataset. Here I'm mainly downloading and previewing the metadata files, poking around in them a bit, getting some understanding of how to work with them, and saving the files to local disk.

In [1]:
import pandas as pd

train_boxed = pd.read_csv(
    "https://storage.googleapis.com/openimages/2018_04/train/train-annotations-bbox.csv"
)

### Boxed images, train set, bounding boxes

In [2]:
train_boxed.head()

,ImageID,Source,LabelName,Confidence,XMin,XMax,YMin,YMax,IsOccluded,IsTruncated,IsGroupOf,IsDepiction,IsInside
0,000002b66c9c498e,xclick,/m/01g317,1,0.012500,0.195312,0.148438,0.587500,0,1,0,0,0
1,000002b66c9c498e,xclick,/m/01g317,1,0.025000,0.276563,0.714063,0.948438,0,1,0,0,0
2,000002b66c9c498e,xclick,/m/01g317,1,0.151562,0.310937,0.198437,0.590625,1,0,0,0,0
3,000002b66c9c498e,xclick,/m/01g317,1,0.256250,0.429688,0.651563,0.925000,1,0,0,0,0
4,000002b66c9c498e,xclick,/m/01g317,1,0.257812,0.346875,0.235938,0.385938,1,0,0,0,0

`xclick` is manually drawn boxes, `activemil` is boxes drawn using an augmented image labeling technique which have been human-verified to have >= 0.7 IoU accuracy.

In [3]:
train_boxed['Source'].value_counts()

xclick       13050532
activemil     1559697
Name: Source, dtype: int64

In [4]:
train_boxed['LabelName'].value_counts().head()

/m/09j2d     1438128
/m/04yx4     1418594
/m/07j7r     1051344
/m/0dzct     1037710
/m/01g317    1034721
Name: LabelName, dtype: int64

For the elements below 1 is present, 0 is not present, and -1 is unknown.

In [5]:
train_boxed['Confidence'].value_counts()

1    14610229
Name: Confidence, dtype: int64

In [6]:
train_boxed['IsOccluded'].value_counts()

 1    9651132
 0    4937226
-1      21871
Name: IsOccluded, dtype: int64

In [7]:
train_boxed['IsTruncated'].value_counts()

 0    10922480
 1     3665878
-1       21871
Name: IsTruncated, dtype: int64

In [8]:
train_boxed['IsGroupOf'].value_counts()

 0    13713801
 1      874557
-1       21871
Name: IsGroupOf, dtype: int64

In [9]:
train_boxed['IsDepiction'].value_counts()

 0    13791999
 1      796359
-1       21871
Name: IsDepiction, dtype: int64

In [10]:
train_boxed['IsInside'].value_counts()

 0    14552771
 1       35587
-1       21871
Name: IsInside, dtype: int64

In [11]:
train_annotations = pd.read_csv(
    "https://storage.googleapis.com/openimages/2018_04/train/train-annotations-human-imagelabels-boxable.csv"
)

### Boxed images, train set, labels

In [12]:
train_annotations.head()

            ImageID        Source  LabelName  Confidence
0  000002b66c9c498e  verification  /m/014j1m           0
1  000002b66c9c498e  verification  /m/014sv8           1
2  000002b66c9c498e  verification   /m/01599           0
3  000002b66c9c498e  verification   /m/015p6           0
4  000002b66c9c498e  verification  /m/015x4r           0

`verification` images are certified by in-house labelers, `crowdsource-verification` images are crowdsourced via the Crowdsource app.

In [13]:
train_annotations['Source'].value_counts()

verification                8659710
crowdsource-verification     337085
Name: Source, dtype: int64

In [14]:
train_annotations['LabelName'].value_counts().head()

/m/01g317    839436
/m/09j2d     675650
/m/04yx4     472414
/m/05s2s     436288
/m/07j7r     423757
Name: LabelName, dtype: int64

Confidences are 0 for confirmed negative and 1 for confirmed positive.

In [15]:
train_annotations['Confidence'].value_counts()

1    6622219
0    2374576
Name: Confidence, dtype: int64

...which does mean that certain images have tons of positive or negative labels populated in the record, interestingly enough.

In [16]:
train_annotations['ImageID'].value_counts().head()

000020780ccee28d    140
000002b97e5471a0    116
000004f4400f6ec5     98
0000333f08ced1cd     97
0000071d71a0a6f6     93
Name: ImageID, dtype: int64

### Memory usage

Still pretty small footprints.

In [17]:
train_boxed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14610229 entries, 0 to 14610228
Data columns (total 13 columns):
ImageID        object
Source         object
LabelName      object
Confidence     int64
XMin           float64
XMax           float64
YMin           float64
YMax           float64
IsOccluded     int64
IsTruncated    int64
IsGroupOf      int64
IsDepiction    int64
IsInside       int64
dtypes: float64(4), int64(6), object(3)
memory usage: 1.4+ GB

In [18]:
train_annotations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8996795 entries, 0 to 8996794
Data columns (total 4 columns):
ImageID       object
Source        object
LabelName     object
Confidence    int64
dtypes: int64(1), object(3)
memory usage: 274.6+ MB

### Image IDs

In [19]:
image_ids = pd.read_csv(
    "https://storage.googleapis.com/openimages/2018_04/train/train-images-boxable-with-rotation.csv"
)

In [20]:
image_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1743042 entries, 0 to 1743041
Data columns (total 12 columns):
ImageID               object
Subset                object
OriginalURL           object
OriginalLandingURL    object
License               object
AuthorProfileURL      object
Author                object
Title                 object
OriginalSize          int64
OriginalMD5           object
Thumbnail300KURL      object
Rotation              float64
dtypes: float64(1), int64(1), object(10)
memory usage: 159.6+ MB

In [21]:
image_ids.head()

,ImageID,Subset,OriginalURL,OriginalLandingURL,License,AuthorProfileURL,Author,Title,OriginalSize,OriginalMD5,Thumbnail300KURL,Rotation
0,4fa8054781a4c382,train,https://farm3.staticflickr.com/5310/5898076654...,https://www.flickr.com/photos/michael-beat/589...,https://creativecommons.org/licenses/by/2.0/,https://www.flickr.com/people/michael-beat/,Michael Beat,...die FNF-Kerze,4405052,KFukvivpCM5QXl5SqKe41g==,https://c1.staticflickr.com/6/5310/5898076654_...,0.0
1,b37f763ae67d0888,train,https://c1.staticflickr.com/1/67/197493648_628...,https://www.flickr.com/photos/drstarbuck/19749...,https://creativecommons.org/licenses/by/2.0/,https://www.flickr.com/people/drstarbuck/,Karen,Three boys on a hill,494555,9IzEn38GRNsVpATuv7gzEA==,https://c3.staticflickr.com/1/67/197493648_628...,0.0
2,7e8584b0f487cb9e,train,https://c7.staticflickr.com/8/7056/7143870979_...,https://www.flickr.com/photos/circasassy/71438...,https://creativecommons.org/licenses/by/2.0/,https://www.flickr.com/people/circasassy/,CircaSassy,A Christmas carol and The cricket on the heart...,2371584,3hQwu0iSzY1VIoXiwp0/Mg==,https://c7.staticflickr.com/8/7056/7143870979_...,0.0
3,86638230febe21c4,train,https://farm5.staticflickr.com/5128/5301868579...,https://www.flickr.com/photos/ajcreencia/53018...,https://creativecommons.org/licenses/by/2.0/,https://www.flickr.com/people/ajcreencia/,Alex,Abbey and Kenny,949267,onB+rCZnGQg5PRX7xOs18Q==,https://c4.staticflickr.com/6/5128/5301868579_...,NaN
4,249086e72671397d,train,https://c6.staticflickr.com/4/3930/15342460029...,https://www.flickr.com/photos/codnewsroom/1534...,https://creativecommons.org/licenses/by/2.0/,https://www.flickr.com/people/codnewsroom/,COD Newsroom,Suburban Law Enforcement Academy 20th Annivers...,6541758,MjpaAVbMAWbCusSaxI1D7w==,https://c1.staticflickr.com/4/3930/15342460029...,0.0

### Class labels

In [22]:
class_names = pd.read_csv(
    "https://storage.googleapis.com/openimages/2018_04/class-descriptions-boxable.csv", 
    header=None
)
class_names.columns = ['LabelID', 'LabelName']

In [23]:
class_names.head()

       LabelID   LabelName
0    /m/011k07    Tortoise
1  /m/011q46kg   Container
2    /m/012074      Magpie
3    /m/0120dh  Sea turtle
4    /m/01226z    Football

### Write to disc

This is optional, but now that we've examined the metadata it's helpful to write it to disk. We can then pass the filepaths to the `openimager`  downloader, which would otherwise have to go out and re-download these files itself, which is hella slow.

In [30]:
!mkdir '../data'
!mkdir '../data/metadata/'

In [31]:
train_boxed.to_csv("../data/metadata/train-annotations-bbox.csv")

In [32]:
train_annotations.to_csv("../data/metadata/train-annotations-human-imagelabels-boxable.csv")

In [33]:
image_ids.to_csv("../data/metadata/train-images-ids.csv")

In [34]:
class_names.to_csv("../data/metadata/image-class-names.csv")

### Explore classes

OK let's look at some example class lists we can work with.

In [91]:
def get_class_labels(classes):
    return class_names[class_names.LabelName.isin(classes)].sort_values(by='LabelName')
 
def get_class_annotations_bboxed(classes):
    class_key = get_class_labels(classes)
    return train_boxed[train_boxed.LabelName.isin(class_key.LabelID)]

def get_class_annotations_labeled(classes):
    class_key = get_class_labels(classes)
    return train_annotations[train_annotations.LabelName.isin(class_key.LabelID)]

def class_availability_report(classes):
    class_key = get_class_labels(classes)
    df = pd.DataFrame(
        index=class_key.LabelName,
        data=
        {
            'LabelID': class_key.LabelID.values,
            'n_bboxes': get_class_annotations_bboxed(classes).assign(n=0).groupby('LabelName').count().n.values,
            'n_labels': get_class_annotations_labeled(classes).assign(n=0).groupby('LabelName').count().n.values
        }
    )
    df['perc_bboxes'] = df.n_bboxes / (df.n_bboxes + df.n_labels)
    df['perc_labels'] = df.n_labels / (df.n_bboxes + df.n_labels)
    return df

In [97]:
class_availability_report([
    'Apple', 'Grape', 'Pear', 'Common fig', 'Strawberry', 'Tomato', 'Lemon', 'Banana', 'Orange', 'Peach',
    'Mango', 'Pineapple', 'Grapefruit', 'Pomegranate', 'Watermelon', 'Cantaloupe', 'Fruit'
])

               LabelID  n_bboxes  n_labels  perc_bboxes  perc_labels
LabelName
Apple        /m/014j1m      3898      1894     0.672997     0.327003
Banana        /m/09qck     26236     15553     0.627821     0.372179
Cantaloupe    /m/0kpt_      2787      1484     0.652540     0.347460
Common fig   /m/043nyj       317       471     0.402284     0.597716
Fruit         /m/02xwb       923       688     0.572936     0.427064
Grape         /m/0388q      7944      1887     0.808056     0.191944
Grapefruit    /m/0hqkz      6254      2056     0.752587     0.247413
Lemon         /m/09k_b      1756      1276     0.579156     0.420844
Mango         /m/0fldg      1612      1487     0.520168     0.479832
Orange       /m/0cyhj_      6195      1686     0.786068     0.213932
Peach         /m/0dj6p       756       615     0.551422     0.448578
Pear          /m/061_f       429       568     0.430291     0.569709
Pineapple     /m/0fp6w       660       744     0.470085     0.529915
Pomegranate   /m/0jwn_      1283      1001     0.561734     0.438266
Strawberry   /m/07fbm7       677       615     0.523994     0.476006
Tomato        /m/07j87       844       833     0.503280     0.496720
Watermelon    /m/0kpqd       166       457     0.266453     0.733547

In [98]:
class_availability_report([
    'Rocket', 'Airplane', 'Helicopter', 'Submarine', 'Jet ski', 'Canoe', 'Gondola', 'Barge',
    'Wheelchair', 'Taxi', 'Van', 'Limousine', 'Unicycle', 'Truck', 'Train', 'Tank', 'Segway',
    'Motorcycle', 'Golf cart', 'Snowmobile', 'Bus', 'Bicycle', 'Cart', 'Ambulance',
    'Vehicle'
])

               LabelID  n_bboxes  n_labels  perc_bboxes  perc_labels
LabelName
Airplane      /m/0cmf2       447       931     0.324383     0.675617
Ambulance    /m/012n7d      2755      3140     0.467345     0.532655
Barge         /m/01btn     40161     42694     0.484714     0.515286
Bicycle       /m/0199g     11927     21984     0.351715     0.648285
Bus           /m/01bjv       983       848     0.536865     0.463135
Canoe         /m/0ph39       366       781     0.319093     0.680907
Cart         /m/018p4k       366       430     0.459799     0.540201
Golf cart    /m/0323sq       543       724     0.428571     0.571429
Gondola      /m/02068x      1868      1024     0.645920     0.354080
Helicopter    /m/09ct_       595       616     0.491329     0.508671
Jet ski      /m/01xs3r     13382      8063     0.624015     0.375985
Limousine    /m/01lcw4        81       454     0.151402     0.848598
Motorcycle    /m/04_sv       565       692     0.449483     0.550517
Rocket      /m/09rvcxw      1716      1831     0.483789     0.516211
Segway        /m/076bq     13050     24817     0.344627     0.655373
Snowmobile   /m/01x3jk     12135     10528     0.535454     0.464546
Submarine     /m/074d1     50959    268935     0.159300     0.840700
Tank          /m/07cmd      3023      3201     0.485701     0.514299
Taxi          /m/0pg52       918       983     0.482904     0.517096
Train         /m/07jdr     21285     14611     0.592963     0.407037
Truck         /m/07r04       194       543     0.263229     0.736771
Unicycle      /m/0f6nr      7720      6891     0.528369     0.471631
Van           /m/0h2r6      4199      2232     0.652931     0.347069
Vehicle       /m/07yv9      4543      2885     0.611605     0.388395
Wheelchair    /m/0qmmr      1464      1634     0.472563     0.527437